// Fonts: (Roboto import from fonts.google.com)
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');



// Colors:

// background
$color-bg-body: #333333;
$color-bg-main-light: #3697a7;
$color-bg-main-dark:  #1f464d;

// texts
$color-txt-main: #eaf0ee;



// Borders:

$border-main: 1px solid #3697a7;