// elements

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
}

html {
    scroll-behavior: smooth;
    scroll-behavior: smooth;
    scrollbar-color: $color-bg-main-light $color-bg-main-dark;
    scrollbar-width: thin;
}
body {
    background-color: $color-bg-body;
    color: $color-txt-main;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: $color-txt-main;
    text-transform: uppercase;
}

ul {
    list-style-type: none;
}

img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

h1 {
    font-size: 2.8rem;
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 35px;
}

h2 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 0;
    margin-bottom: 20px;
}

h3 {
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 400;
}

// classes
.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
